* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}

body {
    background-color: #F8F8F9;
    min-height: 100vh;
}

header {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5.125em;
    justify-content: space-between;
}



.title-container {
    padding-left: 3.75em;
    padding-top: 1.125em;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title-container-name {
    font-size: 1.5em;
    justify-content: start;
}

button {
    background-color: #F8F8F9;
    border: none;
    padding-right: 1.25em;
    padding-left: 1.25em;
    font-size: 24;
    font-weight: normal;
    cursor: pointer;
}

button:hover {
    background-color: #f3f3f3;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-right: 3.75em;
}

.main-continer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.index-container {
    padding: 10em 0em 3.50em 3.75em; /* top right, bottom, left */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.index-description, .index-header {
    max-width: 15em; /* Make sure content doesn't overflow */
    max-height: 10.9375em;
    text-align: center; /* Center text */
    margin-bottom: 0.5em; /* Space between elements */
}

.index-description {
    max-height: 10.9375em;
    font-size: 1rem;
}

.index-header {
    max-height: 10.9375em;
    font-weight: normal;
    font-size: 2.5rem;
    margin-left: 0;
}

.assets-container {
    position: relative;
    height: 75vh;
    background-color: #FFFFFF;
    margin: 0 3.75em 1.5em 3.75em; /*top right bot left*/
    border-radius: 1em;
    box-shadow: 1em;
    overflow: hidden;
}

.assets-container .metu-odyssey {
    display: flex;
    justify-content: center;
    padding-top: 2.4em;
}

.assets-container .metu-odyssey img {
    margin-left: 4em;
    margin-right: 4em;
}

.assets-container .metu-odyssey .img1 {
    transform: translate(0em, -4em);
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    filter: blur(0);
}

.assets-container .metu-odyssey .img2 {
    transform: translate(0em, 4em);
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    filter: blur(0);
}

.assets-container:hover .metu-odyssey .img1,
.assets-container:hover .metu-odyssey .img2 {
    transform: translate(0, 0);
    filter: blur(3px);
}

.assets-container .metu-odyssey .img1,
.assets-container .metu-odyssey .img2 {
    filter: blur(0);
}

.assets-container .text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    color: #000;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.assets-container:hover .text {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.assets-container .main-lumpy-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    filter: blur(0);
    transition: transform 0.5s ease, filter 0.5s ease;
}

.assets-container:hover .main-lumpy-img {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0.2em);
}

.assets-container .lumpy-images {
    position: absolute;
    bottom: 3em;
    left: 3em;
}

.assets-container .lumpy-images .lumpy-animation {
    display: none;
}

.assets-container:hover .lumpy-images .lumpy-animation{
    display: block;
}

.assets-container:hover .lumpy-images .lumpy-img {
    display: none;
}

footer {
    background-color: #FFFFFF;
    width: 100%;
    bottom: 0;
    min-height: 8em;
}

footer .titles {
    padding-top: 2em;
    margin-right: 3.75em;
    margin-left: 3.75em;
    display: flex;
    justify-content: space-between;
}

footer .titles .title {
    display: flex;
    justify-content: end;
}

footer .buttons {
    display: flex;
    justify-content: center;
    margin-left: 3.75em;
    margin-right: 3.75em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #FFFFFF;
}

footer .buttons .linkedin {
    padding: 0.5em;
    border: solid 2px;
    border-radius: 0.5em;
    font-size: 1rem;
    opacity: 70%;
}


.animation-elements {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 1.250em;
}

.name1, .name2, .name3 {
    margin: 0.125em;
}

.name1 {
    animation: name1Animation ease-in 3s;
}

@keyframes name1Animation {

    0% {
        transform: translate(-60em, 0px);
    }

    20% {
        transform: translate(0.9em, 0);
    }

    25% {
        transform: translate(0, 0);
    }

    85% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -100em);
    }

}

.name2 {
    animation: name2Animation ease-in 3s;
}

@keyframes name2Animation {
    0% {
        transform: translate(0, -50em);
    }

    25% {
        transform: translate(0,-50em);
    }

    40% {
        transform: translate(0, -20em);
    }

    45% {
        transform: translate(0, 0.9em);
    }

    50% {
        transform: translate(0, 0);
    }

    85% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -100em);
    }

}

.name3 {
    animation: name3Animation ease-in 3s;
}

@keyframes name3Animation {
    0% {
        transform: translate(60em, 0);
    }

    50% {
        transform: translate(60em, 0);
    }

    70% {
        transform: translate(-0.9em, 0);
    }

    75% {
        transform:translate(0, 0);
    }

    85% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -100em);
    }

}

@media (min-width: 768px) {
    
    .index-container {
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start;
    }

    .index-description {
        max-width: 15em;
        text-align: left;
    }

    .index-header {
        max-width: 47.3125em;
        text-align: left;
        margin-left: 5em;
        font-size: 4em;
    }

}

@media (max-width: 767px) {

    .main-continer {
        width: 100%;
        height: 100%;
    }

    .title-container {
        padding: 1em;
    }

    .buttons-container {
        margin-right: 0;
    }
    .index-container {
        padding: 2em 1em;
    }

    .index-header {
        font-size: 2em;
    }

}
